/* This section is for the preview stuff */
.hidden {
    display: none !important;
}

#errorPara {
    color: red;
}

#coaResultsSection {
    display: flex;
    flex-direction: row;
}

.coaHeaderCell {
    color: white;
    background: black;
}

/* This is for the full-page COA data */
header {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 800px;
    margin: 0 auto;
}

#sectionTop,
#sectionMid,
#sectionBottom {
    display: flex;
    justify-content: space-around;
}

.coaHeaderCell {
    color: white;
    background: black;
}

#infoTable,
#physicalTable,
#chemicalTable,
#microbialTable,
#terpsTable {
    width: 380px;
}

#cannabinoidTable {
    width: 100%;
}

.footerCell {
    border: 2px solid black;
}